/* Custom Elements */
.shadow { box-shadow: 0 1px 4px rgba(0,0,0,0.3); }
.deep-shadow { box-shadow: 0 0 20px rgba(0,0,0,0.3); }

.well { box-shadow: inset 0 1px 4px rgba(0,0,0,0.3); }
.deep-well { box-shadow: inset 0 0 20px rgba(0,0,0,0.3); }

.alert {
	border: solid 1px #ddd;
	background-color: #eee;
	padding: .2em .4em;
}

/* Color pallete taken from Colors @ http://clrs.cc/ */
/* these are helper classes so yes, !important is ok here to override unknown specificity. */

/* Cool */
.color-aqua { color: #7FDBFF !important; }
.color-blue { color: #0074D9 !important; }
.color-navy { color: #001F3F !important; }
.color-teal { color: #39CCCC !important; }
.color-green { color: #2ECC40 !important; }
.color-olive { color: #3D9970 !important; }
.color-lime { color: #01FF70 !important; }

/* Warm */
.color-yellow { color: #FFDC00 !important; }
.color-orange { color: #FF851B !important; }
.color-red { color: #FF4136 !important; }
.color-fuchsia { color: #F012BE !important; }
.color-purple { color: #B10DC9 !important; }
.color-maroon { color: #85144B !important; }

/* Gray Scale */
.color-silver { color: #ddd !important; }

/* Cool */
.bg-aqua { background-color: #7FDBFF !important; }
.bg-blue { background-color: #0074D9 !important; }
.bg-navy { background-color: #001F3F !important; }
.bg-teal { background-color: #39CCCC !important; }
.bg-green { background-color: #2ECC40 !important; }
.bg-olive { background-color: #3D9970 !important; }
.bg-lime { background-color: #01FF70 !important; }

/* Warm */
.bg-yellow { background-color: #FFDC00 !important; }
.bg-orange { background-color: #FF851B !important; }
.bg-red { background-color: #FF4136 !important; }
.bg-fuchsia { background-color: #F012BE !important; }
.bg-purple { background-color: #B10DC9 !important; }
.bg-maroon { background-color: #85144B !important; }

/* Gray Scale */
.bg-silver { background-color: #ddd !important; }

/* Cool */
.alert.bg-aqua { border-color: #7FDBFF; background-color: #a6e7ff; }
.alert.bg-blue { border-color: #0074D9; background-color: #2f9cff; }
.alert.bg-navy { border-color: #001F3F; background-color: #004a95; }
.alert.bg-teal { border-color: #39CCCC; background-color: #7cdede; }
.alert.bg-green { border-color: #2ECC40; background-color: #71df7e; }
.alert.bg-olive { border-color: #3D9970; background-color: #69c29a; }
.alert.bg-lime { border-color: #01FF70; background-color: #56fe9d; }

/* Warm */
.alert.bg-yellow { border-color: #FFDC00; background-color: #ffea55; }
.alert.bg-orange { border-color: #FF851B; background-color: #ffb571; }
.alert.bg-red { border-color: #FF4136; background-color: #ffa59f; }
.alert.bg-fuchsia { border-color: #F012BE; background-color: #f561d5; }
.alert.bg-purple { border-color: #B10DC9; background-color: #db39f2; }
.alert.bg-maroon { border-color: #85144B; background-color: #cf1f73; }

/* Gray Scale */
/*
.alert.bg-white { border-color: #fff; background-color: #; }
.alert.bg-silver { border-color: #ddd; background-color: #; }
.alert.bg-gray { border-color: #aaa; background-color: #; }
.alert.bg-black { border-color: #111; background-color: #; }
*/

.hollow { background-color: transparent; }
