/*
 *
 * Framework v0.2 alpha by jephrei
 *
 * TODO:
 * navigation styles (vert, expanded, etc.)
 * more form elements
 * details/summary element
 * test on darker/colored BGs
 * add roman, and colored options
 * toggle class (needs js)
 * hex fallbacks for rgb/rgba
 * helper classes and explanations for
 *  - clearfix
 *  - etc
 * show/hide in specific views (stacked, small, normal, large, etc.)
 * grouped elements - probably wait til flexbox implementation)
 * add top stacked rules
 *
 * BUGS:
 * color-* !important not working on links
 * vertical scrollbar shows on overflowed pre code
 *
 * REFINE:
 * list style positioning
 * color theme rehaul (or remove alltogether)
 *
 */

@import "normalize.css";
@import "print.css" print;

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font: 100 16px/1.6 sans-serif;
	color: #333;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body {
	font-size:100%;
	margin: 0;
}

a { color: #0074D9; text-decoration: none; }
a:visited { color: #B10DC9; }
a:hover { text-decoration: underline; }
a:active { color: #FF851B; }

a img {
	border: none; /* remove border on older browsers */
	vertical-align: middle; /* for multiple items in parent 'a' element */
}

img,
svg,
video,
audio,
canvas { max-width: 100%; }

.crop-stacked { overflow: auto; }
.crop-stacked img { margin: auto; }

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

/* reset so that h6 is equal in size to the body font-size - i may undo */
h1, .h1 { font-size:2.25em; 	/* 16 * 2.25	=36 */ }
h2, .h2 { font-size:1.75em; 	/* 16 * 1.75	=28 */ }
h3, .h3 { font-size:1.5em;  	/* 16 * 1.5		=24 */ }
h4, .h4 { font-size:1.25em; 	/* 16 * 1.25	=20 */ }
h5, .h5 { font-size:1.125em;	/* 16 * 1.125	=18 */ }
h6, .h6 { font-size:1em;		/* 16 * 1		=16 */ }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight: normal;
	color: #bbb;
}

.lrg { font-size: 3em;  /* 16 x 3	= 48 */ }

.heavy { font-weight: 900; }
/*.normal { font-weight: 400; }*/ /* need better class name */
.light { font-weight: 100; }

/*small { line-height: 1; }*/ /* dammit why did past jephrei put this here? note to self: document more */

.sans-serif { font-family: sans-serif; }
.serif { font-family: serif; }
.mono { font-family: monospace; }

/* Other Text */
/* lists */
ul { padding-left: 1em; }
ol { padding-left: 1.3em; }

ol.long { padding-left: 2.4em; }

menu.blank,
ul.blank,
ol.blank {
	list-style-type: none;
	padding-left: 0;
}

menu.outside,
ul.outside,
ol.outside { padding-left: 0; }

ul.square { list-style-type: square; }
ul.circle { list-style-type: circle; }
ul.disc { list-style-type: disc; }

/* code */
code, kbd, pre, samp, var {
	font: normal monospace;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

code {
	padding: .1em .2em;
	color: #666;
	background-color: #eee;
	border: solid 1px #ddd;
	border-radius: 4px;
	font-size: 90%;
	white-space: nowrap;
}

pre code {

	display: block;
	white-space: pre;
	word-wrap: initial;
    max-width: 100%;
    overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

abbr[title],
acronym[title] {
	border-bottom: 1px dotted;
}

/* quote elements */
blockquote {
	margin-left: 0;
	padding-left: 1em;
	color: #999;
	border-left: solid .2em #ddd;
}

blockquote.outside {
	margin-left: -1.2em;

}

.pullquote-left:after,
.pullquote-right:after { /* not perfectly implemented yet */
	content: attr(data-pullquote);
    display: inline-block;
    font-size: 150%;
    float: right;
    margin: .5em 0 .5em .5em;
    width: 50%;
	color: #999;
}

.pullquote-left:after {
    float: left;
	margin: .5em .5em .5em 0;
}

hr {
	border: 0;
    height: 0;
    border-top: .1em solid rgba(0, 0, 0, 0.1);
    border-bottom: .1em solid rgba(255, 255, 255, 0.3);
	margin: 1em 0;
}

/* tables */
table {
	min-width: 100%;
	margin: 1em 0;
}

th { text-align: left; }

td, th { padding: 0 .4em 0.15em 0; }

tfoot { font-size: 80%; }

table.default {
	border-top: solid 1px #ccc;
	border-left: solid 1px #ccc;
}

.default td, .default th { padding: .15em .4em; }

.striped tbody tr:nth-child(odd) { background-color: #eee; }

table caption {
	text-align: left;
}

.default > caption {
	text-align: center;
	font-size: 1.25em;
	color: #999;
}

.default td,
.default th {
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}

.default tbody tr:hover,
.default tbody tr:hover {
	background-color: #ddd;
}

.default tfoot {
	color: #999;
	font-style: italic;
}

/* inputs */
input {
	max-width: 100%;
}

input[type='button'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

select {
	border: 1px solid #a4a4a4; /* to force font size changes...for now */
}

input[type="file"]::-webkit-file-upload-button {
	border: 1px solid #a4a4a4; /* to force font size changes...for now */
}

input[required]:invalid {
	border: 1px solid red;
}

::-webkit-input-placeholder { text-overflow: ellipsis; }
:-moz-placeholder { text-overflow: ellipsis; }
::-moz-placeholder { text-overflow: ellipsis; }
:-ms-input-placeholder { text-overflow: ellipsis; }

/* Buttons */
button,
.button,
a.button, /* for specificity. find a better way to do this? */
input[type='button']  {
	display: inline-block;
    font-family: sans-serif;
	border: none;
    background-color: #ddd;
	margin-bottom: 0.25em;
    padding: 0.5em 1em;
    color: #333;
    /*font-size: 1em;*/ /* not needed? */
    line-height: normal;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

	-webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

button:hover,
.button:hover,
input[type='button']:hover {
    background-color: #eee;
	text-decoration: none;
}

button:not(.disabled):active,
.button:not(.disabled):active,
input[type='button']:not(.disabled):active {
	outline: none;
    box-shadow: inset 0 .1em .4em rgba(0,0,0,0.2);
}

button.disabled,
.button.disabled,
input[type='button'].disabled {
    cursor: not-allowed;
    background-color: #eee;
    color: #bbb;
    text-shadow: none;
}

.button-group {
    margin: 0em;
    white-space: nowrap;
}

.button-group > button,
.button-group > .button,
.button-group > input[type='button'] {
    margin: 0;
    border-right: solid 1px rgba(0,0,0,0.2);
}

.button-group > button:last-child,
.button-group > .button:last-child,
.button-group > input[type='button']:last-child {
    border-right: none;
}

.button-group > input[type="text"] {
    background-color: #f5f5f5;
    margin: 0 -1px 0 0;
    padding: 0.5em 1em;
    color: #333;
    font-size: 1em;
    line-height: normal;
    font-weight: normal;
    text-decoration: none;
    border: 0;
	/*border: solid 1px #ddd;*/
    vertical-align: middle;
}

.button-large { font-size: 2em; }
.button-medium { font-size: 1.5em; }
.button-small { font-size: .75em; }

.button-subtext {
    font-size: 75%;
}

.button-subtext:before {
    content: '\a';
    white-space: pre;
}

/* Textarea */
/*
textarea,
input[type="text"] {
    border: solid 1px #eee;
    transition: border-color 0.5s ease,
                box-shadow 0.5s ease;
}

textarea:focus,
input[type="text"]:focus {
    border-color: lightblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
*/
/* Progress Bar */
/*
progress {
    background-color: #f3f3f3;
    border: 0;
    height: 1em;
    border-radius: 4px;
    text-indent: .5em;
}

progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
}

progress::-webkit-progress-value {
    border-radius: 4px;
}

progress::-moz-progress-bar {
    background-color: green;
    border: 0;
    border-radius: 4px;
}
*/

progress.vertical {
	-webkit-orient: vertical; /* chrome doesn't support this yet */
	-moz-orient: vertical;
	orient: vertical; /* no one uses it */
}

fieldset {
	padding: 1em 0 0 0;
	margin-bottom: 0;
	border: 0;
}

fieldset legend {
	font-size: 1.25em;
	font-weight: 100;
	color: #999;
	display: block;
	width: 100%;
	border-bottom: solid 1px #ddd;
}

figure { margin: 0; }

/*== Custom Elements ==*/
.shadow { box-shadow: 0 1px 4px rgba(0,0,0,0.3); }
.deep-shadow { box-shadow: 0 0 20px rgba(0,0,0,0.3); }

.well { box-shadow: inset 0 1px 4px rgba(0,0,0,0.3); }
.deep-well { box-shadow: inset 0 0 20px rgba(0,0,0,0.3); }

.alert {
	border: solid 1px #ddd;
	background-color: #eee;
	padding: .2em .4em;
}
/*
header.sticky,
footer.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

footer.sticky {
	top: auto;
	bottom: 0;
}
*/
/* nav list */
nav ul {
    list-style-type: none;
    margin: 0;
	font-weight: normal;
    padding-left: 0;
}

nav a {
    display: block;
    padding: .25em .75em;
}

nav a:not([href]) {
	color: #333;
	cursor: default;
}

nav.horiz li {
    position: relative;
    float: left;
}

nav.horiz li:first-child.flush a { padding-left: 0; }
nav.horiz li:last-child.flush a { padding-right: 0; }

nav.horiz li > ul {
    display: none;
    position: absolute;
	background-color: rgba(255,255,255,0.8);
}

nav.horiz li:hover > ul {
	z-index: 1;
    display: block;
}

nav.horiz li > ul li {
	white-space: nowrap;
    width: 100%;
}

nav.horiz ul ul > li > a {
	float: left;
}

nav.horiz ul ul ul {
	left: 100%;
}

nav.vert ul ul {
    margin-left: 1em;
}

/* Color pallete taken from Colors @ http://clrs.cc/ */
/* these are helper classes so yes, !important is ok here to override unknown specificity. */

/* Cool */
.color-aqua { color: #7FDBFF !important; }
.color-blue { color: #0074D9 !important; }
.color-navy { color: #001F3F !important; }
.color-teal { color: #39CCCC !important; }
.color-green { color: #2ECC40 !important; }
.color-olive { color: #3D9970 !important; }
.color-lime { color: #01FF70 !important; }

/* Warm */
.color-yellow { color: #FFDC00 !important; }
.color-orange { color: #FF851B !important; }
.color-red { color: #FF4136 !important; }
.color-fuchsia { color: #F012BE !important; }
.color-purple { color: #B10DC9 !important; }
.color-maroon { color: #85144B !important; }

/* Gray Scale */
.color-silver { color: #ddd !important; }

.color-black { color: #000 !important; }
.color-dark { color: #333 !important; }
.color-dark-gray { color: #666 !important; }
.color-gray { color: #999 !important; }
.color-light-gray { color: #bbb !important; }
.color-light { color: #eee !important; }
.color-white { color: #fff !important; }

/* Cool */
.bg-aqua { background-color: #7FDBFF !important; }
.bg-blue { background-color: #0074D9 !important; }
.bg-navy { background-color: #001F3F !important; }
.bg-teal { background-color: #39CCCC !important; }
.bg-green { background-color: #2ECC40 !important; }
.bg-olive { background-color: #3D9970 !important; }
.bg-lime { background-color: #01FF70 !important; }

/* Warm */
.bg-yellow { background-color: #FFDC00 !important; }
.bg-orange { background-color: #FF851B !important; }
.bg-red { background-color: #FF4136 !important; }
.bg-fuchsia { background-color: #F012BE !important; }
.bg-purple { background-color: #B10DC9 !important; }
.bg-maroon { background-color: #85144B !important; }

/* Gray Scale */
.bg-silver { background-color: #ddd !important; }

.bg-black { background-color: #000 !important; }
.bg-dark { background-color: #333 !important; }
.bg-dark-gray { background-color: #666 !important; }
.bg-gray { background-color: #999 !important; }
.bg-light-gray { background-color: #bbb !important; }
.bg-light { background-color: #eee !important; }
.bg-white { background-color: #fff !important; }

/* Cool */
.alert.bg-aqua { border-color: #7FDBFF; background-color: #a6e7ff; }
.alert.bg-blue { border-color: #0074D9; background-color: #2f9cff; }
.alert.bg-navy { border-color: #001F3F; background-color: #004a95; }
.alert.bg-teal { border-color: #39CCCC; background-color: #7cdede; }
.alert.bg-green { border-color: #2ECC40; background-color: #71df7e; }
.alert.bg-olive { border-color: #3D9970; background-color: #69c29a; }
.alert.bg-lime { border-color: #01FF70; background-color: #56fe9d; }

/* Warm */
.alert.bg-yellow { border-color: #FFDC00; background-color: #ffea55; }
.alert.bg-orange { border-color: #FF851B; background-color: #ffb571; }
.alert.bg-red { border-color: #FF4136; background-color: #ffa59f; }
.alert.bg-fuchsia { border-color: #F012BE; background-color: #f561d5; }
.alert.bg-purple { border-color: #B10DC9; background-color: #db39f2; }
.alert.bg-maroon { border-color: #85144B; background-color: #cf1f73; }

/* Gray Scale */
/*
.alert.bg-white { border-color: #fff; background-color: #; }
.alert.bg-silver { border-color: #ddd; background-color: #; }
.alert.bg-gray { border-color: #aaa; background-color: #; }
.alert.bg-black { border-color: #111; background-color: #; }
*/

.hollow { background-color: transparent; }

/* Text positioning */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-normal { font-weight: normal; }

.position-relative { position: relative; }

.auto-width { width: auto; max-width: 100%; }
.full-width { width: 100%; max-width: 100%; }

.no-wrap { white-space: nowrap; }

/* Element position/spacing */
.float-right { float: right; }

.inline { display: inline; }
.block { display: block; }
.inline-block { display: inline-block; }

.add-top { margin-top: 1em; }
.add-top-sm { margin-top: 0.5em; }
.add-top-lrg { margin-top: 2em; }

.add-bot { margin-bottom: 1em; }
.add-bot-sm { margin-bottom: 0.5em; }
.add-bot-lrg { margin-bottom: 2em; }

.add-bot-stacked,
.add-bot-sm-stacked,
.add-bot-lrg-stacked { margin-bottom: 0; }

.rem-top { margin-top: 0; }
.rem-bot { margin-botton: 0; }

.text-pad { padding: 4px 8px; }
.text-pad-rel { padding: .4em .8em; }

.fixed { position: fixed; }

.scroll-y {
	overflow-x: visible;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

/* border radius */
.chisel {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.curve {
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	border-radius: .4em;
}
.round {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}

/* fun stuff */
::selection {
	color: white;
	text-shadow: none;
	background: black;
}

::-moz-selection {
	color: white;
	text-shadow: none;
	background: black;
}

/*== GRID SYSTEM ==*/
.container {
	max-width: 960px; /* your normal desktop width */
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.4em;
	padding-right: 1.4em;
}

.row {
	width: 100%;
	clear: both;
}

.row.spaced {
	margin-left: -1em;
	margin-right: -1em;
	width: auto;
}

.col {
	width: 100%;
	float: left;
}

.row.spaced > .col {
	padding-left: 1em;
	padding-right: 1em;
}

.row.reverse > .col { float: right; }

/* col span */
.col.span-1-2	{ width: 50%; }
.col.span-1-3	{ width: 33.333%; }
.col.span-1-4	{ width: 25%; }
.col.span-1-5	{ width: 20%; }
.col.span-1-6	{ width: 16.666%; }
.col.span-1-7	{ width: 14.285%; }
.col.span-1-8	{ width: 12.5%; }
/*
.col.span-1-9	{ width: ; }
.col.span-1-10	{ width: ; }
.col.span-1-11	{ width: ; }
.col.span-1-12	{ width: ; }
.col.span-1-13	{ width: ; }
.col.span-1-14	{ width: ; }
.col.span-1-15	{ width: ; }
.col.span-1-16	{ width: ; }
*/
.col.span-2-3	{ width: 66.666%; }
.col.span-2-4	{ width: 50%; } /* 1-2 */
.col.span-2-5	{ width: 40%; }
.col.span-2-6	{ width: 33.333%; } /* 1-3 */
.col.span-2-7	{ width: 28.571%; }
.col.span-2-8	{ width: 25%; } /* 1-4 */

.col.span-3-4	{ width: 75%; }
.col.span-3-5	{ width: 60%; }
.col.span-3-6	{ width: 50%; } /* 1-2 */
.col.span-3-7	{ width: 42.857%; }
.col.span-3-8	{ width: 37.5%; }

.col.span-4-5	{ width: 80%; }
.col.span-4-6	{ width: 66.666%; } /* 2-3 */
.col.span-4-7	{ width: 57.142%; }
.col.span-4-8	{ width: 50%; } /* 1-2 */

.col.span-5-6	{ width: 83.333%; }
.col.span-5-7	{ width: 71.428%; }
.col.span-5-8	{ width: 62.5%; }

.col.span-6-7	{ width: 85.714%; }
.col.span-6-8	{ width: 75%; } /* 3-4 */

.col.span-7-8	{ width: 87.5%; }


/* col skip */
.col.skip-1-2	{ margin-left: 50%; }
.col.skip-1-3	{ margin-left: 33.333%; }
.col.skip-1-4	{ margin-left: 25%; }
.col.skip-1-5	{ margin-left: 20%; }
.col.skip-1-6	{ margin-left: 16.666%; }
.col.skip-1-7	{ margin-left: 14.285%; }
.col.skip-1-8	{ margin-left: 12.5%; }

.col.skip-2-3	{ margin-left: 66.666%; }
.col.skip-2-4	{ margin-left: 50%; } /* 1-2 */
.col.skip-2-5	{ margin-left: 40%; }
.col.skip-2-6	{ margin-left: 33.333%; } /* 1-3 */
.col.skip-2-7	{ margin-left: 28.571%; }
.col.skip-2-8	{ margin-left: 25%; } /* 1-4 */

.col.skip-3-4	{ margin-left: 75%; }
.col.skip-3-5	{ margin-left: 60%; }
.col.skip-3-6	{ margin-left: 50%; } /* 1-2 */
.col.skip-3-7	{ margin-left: 42.857%; }
.col.skip-3-8	{ margin-left: 37.5%; }

.col.skip-4-5	{ margin-left: 80%; }
.col.skip-4-6	{ margin-left: 66.666%; } /* 2-3 */
.col.skip-4-7	{ margin-left: 57.142%; }
.col.skip-4-8	{ margin-left: 50%; } /* 1-2 */

.col.skip-5-6	{ margin-left: 83.333%; }
.col.skip-5-7	{ margin-left: 71.428%; }
.col.skip-5-8	{ margin-left: 62.5%; }

.col.skip-6-7	{ margin-left: 85.714%; }
.col.skip-6-8	{ margin-left: 75%; } /* 3-4 */

.col.skip-7-8	{ margin-left: 87.5%; }

/* col skip */
.row.reverse > .col.skip-1-2	{ margin-left: 0; margin-right: 50%; }
.row.reverse > .col.skip-1-3	{ margin-left: 0; margin-right: 33.333%; }
.row.reverse > .col.skip-1-4	{ margin-left: 0; margin-right: 25%; }
.row.reverse > .col.skip-1-5	{ margin-left: 0; margin-right: 20%; }
.row.reverse > .col.skip-1-6	{ margin-left: 0; margin-right: 16.666%; }
.row.reverse > .col.skip-1-7	{ margin-left: 0; margin-right: 14.285%; }
.row.reverse > .col.skip-1-8	{ margin-left: 0; margin-right: 12.5%; }

.row.reverse > .col.skip-2-3	{ margin-left: 0; margin-right: 66.666%; }
.row.reverse > .col.skip-2-4	{ margin-left: 0; margin-right: 50%; } /* 1-2 */
.row.reverse > .col.skip-2-5	{ margin-left: 0; margin-right: 40%; }
.row.reverse > .col.skip-2-6	{ margin-left: 0; margin-right: 33.333%; } /* 1-3 */
.row.reverse > .col.skip-2-7	{ margin-left: 0; margin-right: 28.571%; }
.row.reverse > .col.skip-2-8	{ margin-left: 0; margin-right: 25%; } /* 1-4 */

.row.reverse > .col.skip-3-4	{ margin-left: 0; margin-right: 75%; }
.row.reverse > .col.skip-3-5	{ margin-left: 0; margin-right: 60%; }
.row.reverse > .col.skip-3-6	{ margin-left: 0; margin-right: 50%; } /* 1-2 */
.row.reverse > .col.skip-3-7	{ margin-left: 0; margin-right: 42.857%; }
.row.reverse > .col.skip-3-8	{ margin-left: 0; margin-right: 37.5%; }

.row.reverse > .col.skip-4-5	{ margin-left: 0; margin-right: 80%; }
.row.reverse > .col.skip-4-6	{ margin-left: 0; margin-right: 66.666%; } /* 2-3 */
.row.reverse > .col.skip-4-7	{ margin-left: 0; margin-right: 57.142%; }
.row.reverse > .col.skip-4-8	{ margin-left: 0; margin-right: 50%; } /* 1-2 */

.row.reverse > .col.skip-5-6	{ margin-left: 0; margin-right: 83.333%; }
.row.reverse > .col.skip-5-7	{ margin-left: 0; margin-right: 71.428%; }
.row.reverse > .col.skip-5-8	{ margin-left: 0; margin-right: 62.5%; }

.row.reverse > .col.skip-6-7	{ margin-left: 0; margin-right: 85.714%; }
.row.reverse > .col.skip-6-8	{ margin-left: 0; margin-right: 75%; } /* 3-4 */

.row.reverse > .col.skip-7-8	{ margin-left: 0; margin-right: 87.5%; }

/*== HACKY TYPE THINGS ==*/
/* clearfix for floated children */
nav ul:before,
nav ul:after,
.cf:before,
.cf:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

nav ul:after,
.cf:after,
.row:after {
    clear: both;
}

nav ul,
.cf,
.row {
    *zoom: 1;
}

/*== MEDIA QUERIES ==*/
/* large screen */
@media only screen and (min-width: 1700px) {
	body { font-size: 160%; }

	.container { max-width: 1600px; }
}

/* normal desktop */
@media only screen and (max-width: 1699px) and (min-width: 1300px)  {
	body { font-size: 120%; }

	.container { max-width: 1200px; }
}

/* small / tablet */
@media only screen and (max-width: 1299px) and (min-width: 481px)  {

}

/* all but phone (stacked columns) */
@media only screen and (min-width: 481px) {

}

/* phone (stacked columns) */
@media only screen and (max-width: 480px) {
	body { font-size: 90%; }

	.row {}

	.col:not(.col-mobile) {
		float: none;
		width: 100%;
	}

	/* may revert to multiple selectors depending on compatibility */
	.col[class*="skip-"],
	.row.reverse > .col[class*="skip-"] /* for selectivity */ {
		margin-left: 0;
		margin-right: 0;
	}

	.add-bot-stacked { margin-bottom: 1em; }
	.add-bot-sm-stacked { margin-bottom: 0.5em; }
	.add-bot-lrg-stacked { margin-bottom: 2em; }

	.crop-stacked {	overflow: hidden; }
	.crop-stacked img { margin: -25% 0; }

	.flush-stacked { margin: 0 -1.4em; /* container margin * -1 */ }
	.flush-stacked img { width: 100%; }

	.text-center-stacked { text-align: center; }
}
