/*
 *
 * Framework v0.1 alpha by jephrei
 *
 */


@import "normalize.css";
@import "fineprint.css";
@import "print.css" print;


/* =============== MAJOR ELEMENTS ============================================= */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


html {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;

	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body {
	margin: 0;
}

/* Links */
a { text-decoration: none; color: #0074D9; }

a:visited { color: #B10DC9; }

a:hover { text-decoration: underline; }


/* Images */
a img {
	border: none;
	vertical-align: middle;
}

img { max-width: 100%; }

/* Headers */
h1, h2, h3, h4, h5, h6 {
	/* margin-top: 0; */
	border-bottom: solid 1px #ddd;
}

h1 small { color: silver; font-weight: normal; }

/* Other Text */
code, kbd, pre, samp { font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

code {
	padding: 2px 4px;
	font-size: 90%;
	color: #666;
	background-color: #eee;
	white-space: nowrap;
	border-radius: 4px;
}

p {
	orphans: 3;
	widows: 3;
}

small { line-height: 1; }

hr {
	border: 0;
    height: 2px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* nav */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Buttons */
button,
.button,
input[type="button"],
input[type="submit"] {
    font-family: Helvetica, sans-serif;
    background-color: #eee;
    padding: .2em 1em;
    color: #333;
    font-size: 1em;
    line-height: 1.4;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    vertical-align: middle;

    display: inline-block;
    *display: inline;
    zoom: 1;

    background-color: #eee;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    transition: background-color 0.3s ease;
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #e1e1e1;
	text-decoration: none;
}

button:not(.disabled):active,
.button:not(.disabled):active,
input[type="button"]:not(.disabled):active,
input[type="submit"]:not(.disabled):active {
    background-color: #ddd;
    box-shadow: inset 0 .1em .2em rgba(0,0,0,0.1);
}

button.disabled,
.button.disabled,
input[type="button"].disabled,
input[type="submit"].disabled,
input[type="button"][disabled],
input[type="submit"][disabled]{
    cursor: not-allowed;
    background-color: #e9e9e9;
    color: #bbb;
    text-shadow: none;
}

.button-group > button,
.button-group > .button,
.button-group > input[type="button"],
.button-group > input[type="submit"] {
    margin: 0;
    border-right: solid 1px #e1e1e1;
}

.button-group > button:last-child,
.button-group > .button:last-child,
.button-group > input[type="button"]:last-child,
.button-group > input[type="submit"]:last-child {
    border-right: none;
}

.button-group {
    margin: .1em;
    white-space: nowrap;
}

.button-group > input[type="text"] {
    font-family: Helvetica, sans-serif;
    background-color: #f9f9f9;
    margin: 0 -1px 0 0;
    padding: .2em 1em;
    color: #333;
    font-size: 1em;
    line-height: 1.4;
    font-weight: normal;
    text-decoration: none;
    border: 0;
    vertical-align: middle;
}

.button-large { font-size: 2em; }
.button-medium { font-size: 1.5em; }
.button-small { font-size: .75em; }

/* Textarea */
textarea,
input[type="text"] {
    outline: none;
    border: solid 1px #eee;

    transition: border-color 0.5s ease,
                box-shadow 0.5s ease;

}

textarea:focus,
input[type="text"]:focus {
    border-color: lightblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

/* Progress Bar */
progress {
    background-color: #f3f3f3;
    border: 0;
    height: 1em;
    border-radius: 4px;
    text-indent: .5em;
}

progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
}

progress::-webkit-progress-value {
    border-radius: 4px;
}

progress::-moz-progress-bar {
    background-color: green;
    border: 0;
    border-radius: 4px;

}

/*== Custom Elements ==*/

/* nav list */
nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav li {
    position: relative;
    float: left;
}

nav a {
    display: block;
    padding: .25em .75em;
    text-decoration: none;
    background-color: #eee;
}

nav a:hover {
    text-decoration: underline;
    background-color: #ddd;
}

nav li > ul {
    display: none;
    position: absolute;
}

nav li:hover > ul {
    display: block;
}

nav li > ul li {
    width: 100%;
}


/* inputs */
input { max-width: 100%; }

/* =============== GLOBALS ============================================= */

/* Colors - pallete taken from http://clrs.cc/ */

/* Cool */
.color-aqua { color: #7FDBFF; }
.color-blue { color: #0074D9; }
.color-navy { color: #001F3F; }
.color-teal { color: #39CCCC; }
.color-green { color: #2ECC40; }
.color-olive { color: #3D9970; }
.color-lime { color: #01FF70; }

/* Warm */
.color-yellow { color: #FFDC00; }
.color-orange { color: #FF851B; }
.color-red { color: #FF4136; }
.color-fuchsia { color: #F012BE; }
.color-purple { color: #B10DC9; }
.color-maroon { color: #85144B; }

/* Gray Scale */
.color-white { color: #fff; }
.color-silver { color: #ddd; }
.color-gray { color: #aaa; }
.color-black { color: #111; }

/* Cool */
.bg-aqua { background-color: #7FDBFF; }
.bg-blue { background-color: #0074D9; }
.bg-navy { background-color: #001F3F; }
.bg-teal { background-color: #39CCCC; }
.bg-green { background-color: #2ECC40; }
.bg-olive { background-color: #3D9970; }
.bg-lime { background-color: #01FF70; }

/* Warm */
.bg-yellow { background-color: #FFDC00; }
.bg-orange { background-color: #FF851B; }
.bg-red { background-color: #FF4136; }
.bg-fuchsia { background-color: #F012BE; }
.bg-purple { background-color: #B10DC9; }
.bg-maroon { background-color: #85144B; }

/* Gray Scale */
.bg-white { background-color: #fff; }
.bg-silver { background-color: #ddd; }
.bg-gray { background-color: #aaa; }
.bg-black { background-color: #111; }

/* Text positioning */

.text-left { text-align: left; }
.text-center, .text-center-desktop { text-align: center; }
.text-right, .text-right-desktop { text-align: right; }

.text-normal { font-weight: normal; }

.position-relative { position: relative; }

.padding-left,
.padding-left-desktop { padding-left: 16px; }

.padding-right,
.padding-right-desktop { padding-right: 16px; }

.image-float-left {
	float: left;
	margin: 0 8px 8px 0;
}

.image-float-right {
	float: right;
	margin: 0 0 8px 8px;
}

.vertical-middle > * { vertical-align: middle; }

.full-width { width: 100%; }

.inline-block-children > * {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.remove-bottom {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.remove-top {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

.add-top { margin-top: 1em !important; }
.add-top-desktop { margin-top: 1em !important; }
.add-bottom { margin-bottom: 1em !important; }
.add-bottom-large { margin-bottom: 3em !important; }

.no-wrap { white-space: nowrap; }

/*== GRID SYSTEM ==*/

.row {
	width: 100%;
	clear: both;
}

.col {
	width: 100%;
	float: left;
}

.col.col-flip { float: right; }
.row.col-flip > .col { float: right; }

.col.span-1-2	{ width: 50%; }
.col.span-1-3	{ width: 33.333%; }
.col.span-1-4	{ width: 25%; }
.col.span-1-5	{ width: 20%; }
.col.span-1-6	{ width: 16.666%; }

.col.span-2-3	{ width: 66.666%; }
.col.span-2-5	{ width: 40%; }

.col.span-3-4	{ width: 75%; }
.col.span-3-5	{ width: 60%; }

.col.span-4-5	{ width: 80%; }

.col.span-5-6	{ width: 83.333%; }

.row.has-gutters {
	margin-left: -16px;
	margin-right: -16px;
}

.row.has-gutters .col {
	padding-left: 16px;
	padding-right: 16px;
}

/*== HACKS ==*/
/* clearfix for floated children */
nav ul:before,
nav ul:after,
.cf:before,
.cf:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

nav ul:after,
.cf:after,
.row:after {
    clear: both;
}

nav ul,
.cf,
.row {
    *zoom: 1;
}

/*== MEDIA QUERIES ==*/
/* tablet */
@media only screen and (max-width: 984px) and (min-width: 481px)  {
	#page {
		width: 100%;
		padding: 0 8px 8px 8px;
	}

}

/* tablet and desktop*/
@media only screen and (min-width: 481px) {
	.hideDesktop {
		display: none !important;
	}

}

/* phone */
@media only screen and (max-width: 480px) {

	body {
		font-size: 90%;
	}

	#page {
		width: 100%;
		/*padding: 0 2% 2% 2%;*/
	}

	.col:not(.col-mobile) {
		float: none;
		width: 100%;
		padding: 0;
	}

	.col:not(.col-mobile) { width: 100% !important; }

	.col-mobile-span-1-2 { width: 50% !important; }

	.hideMobile {
		display: none !important;
	}

	.mobile-center {
		text-align: center;
	}

	.padding-left-desktop { padding-left: 16px; }
	.padding-right-desktop { padding-right: 16px; }

	.image-float-left,
	.image-float-right {
		margin: 0 0 1em 0;
		float: none;
	}

	/*remove iphone button styling*/
	#search input {
		-webkit-appearance: none;
	}

	.row.has-gutters {
		margin: 0;
	}

	.row.has-gutters .col {
		padding-left: 0;
		padding-right: 0;
	}

	.text-right-desktop { text-align: left; }

}

@media (max-width: 400px) {
    nav {
        text-align: center;
    }

    nav li {
        float: none;
    }

    nav a {
        display: block;
        margin: 4px;
    }

    nav li > ul {
        position: relative;
    }
}

@media print {
     .hideDesktop {
		display: none;
	 }
}