/*
 *
 * Framework v0.1 alpha by jephrei
 *
 */

@import "normalize.css";
@import "print.css" print;

/* =============== MAJOR ELEMENTS ============================================= */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;

	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body {
	font-size:100%;
	margin: 0;
	color: #333;
}

/* Links */
a { text-decoration: none; color: #0074D9; }
a:visited { color: #B10DC9; }
a:hover { text-decoration: underline; }
a:active { color: #FF851B;}

/* Images */
a img {
	border: none;
	vertical-align: middle;
}

img { max-width: 100%; }

/* Headers */
h1 { border-bottom: solid 2px #ddd; }
h2 { border-bottom: solid 1px #ddd; }
h1, h2, h3, h4, h5, h6 { margin-bottom: .5em; }

h1, .h1 {
	font-size:2.25em;  /* 16x2.25	=36 */
	margin-top: 1.125em; }
h2, .h2 {
	font-size:1.75em;  /* 16x1.75	=28 */
	margin-top: 0.875em;
}
h3, .h3 {
	font-size:1.5em;   /* 16x1.5	=24 */
	margin-top: 0.75em;
}
h4, .h4 {
	font-size:1.25em;  /* 16x1.25	=20 */
	margin-top: 0.625em;
}
h5, .h5 {
	font-size:1.125em; /* 16x1.125	=18 */
	margin-top: 0.5625em;
}
h6, .h6 {
	font-size:1em;  	/* 16x1		=16 */
	margin-top: 0.5em;
}

p { font-size:1em;  	/* 16x1		=16 */ }

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p { margin-top: .5em; }

h1 small,
h2 small { color: silver; font-weight: normal; }

/* Other Text */
p {
	orphans: 3;
	widows: 3;
}

/* lists */
ul { padding-left: 1em; }
ol { padding-left: 1.3em; }

ol.long { padding-left: 2.4em; }

/* code */
.code, code, kbd, pre, samp, var {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

code {
	padding: 2px 4px;
	font-size: 90%;
	color: #666;
	background-color: #eee;
	white-space: nowrap;
	border-radius: 4px;
}

blockquote {
	margin-left: 0;
	padding-left: 1em;
	border-left: solid 2px #ddd;

}

small { line-height: 1; }

.serif { font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; }
.mono { font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }

hr {
	border: 0;
    height: 2px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* inputs */
input { max-width: 100%; }


/* Buttons */
button,
.button,
input[type="button"],
input[type="submit"] {
    font-family: Helvetica, sans-serif;
	/*border-radius: .15em;*/
    background-color: #eee;
	margin-bottom: 0.25em;
    padding: .2em 1em;
    color: #333;
    font-size: 1em;
    line-height: 1.4;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    vertical-align: middle;

    display: inline-block;
    background-color: #eee;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    transition: background-color 0.3s ease;
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #e1e1e1;
	text-decoration: none;
}

button:not(.disabled):active,
.button:not(.disabled):active,
input[type="button"]:not(.disabled):active,
input[type="submit"]:not(.disabled):active {
    background-color: #ddd;
    box-shadow: inset 0 .1em .1em rgba(0,0,0,0.1);
}

button.disabled,
.button.disabled,
input[type="button"].disabled,
input[type="submit"].disabled,
input[type="button"][disabled],
input[type="submit"][disabled]{
    cursor: not-allowed;
    background-color: #e9e9e9;
    color: #bbb;
    text-shadow: none;
}

.button-group > button,
.button-group > .button,
.button-group > input[type="button"],
.button-group > input[type="submit"] {
    margin: 0;
    border-right: solid 1px #e1e1e1;
}

.button-group > button:last-child,
.button-group > .button:last-child,
.button-group > input[type="button"]:last-child,
.button-group > input[type="submit"]:last-child {
    border-right: none;
	
}

.button-group {
    margin: .1em;
    white-space: nowrap;
}

.button-group > input[type="text"] {
    font-family: Helvetica, sans-serif;
    background-color: #f9f9f9;
    margin: 0 -1px 0 0;
    padding: .2em 1em;
    color: #333;
    font-size: 1em;
    line-height: 1.4;
    font-weight: normal;
    text-decoration: none;
    border: 0;
    vertical-align: middle;
}

.button-large { font-size: 2em; }
.button-medium { font-size: 1.5em; }
.button-small { font-size: .75em; }

/* Textarea */
/*
textarea,
input[type="text"] {
    outline: none;
    border: solid 1px #eee;

    transition: border-color 0.5s ease,
                box-shadow 0.5s ease;

}

textarea:focus,
input[type="text"]:focus {
    border-color: lightblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
*/
/* Progress Bar */
/*
progress {
    background-color: #f3f3f3;
    border: 0;
    height: 1em;
    border-radius: 4px;
    text-indent: .5em;
}

progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
}

progress::-webkit-progress-value {
    border-radius: 4px;
}

progress::-moz-progress-bar {
    background-color: green;
    border: 0;
    border-radius: 4px;

}
*/
/*== Custom Elements ==*/

/* wells */
.well {
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
	background-color: #eee;
	padding: .15em .4em;
}

/* alerts */
.alert {
	border: solid 1px #ddd;
	background-color: #eee;
	padding: .15em .4em;
}

header.sticky,
footer.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

footer.sticky {
	top: auto;
	bottom: 0;
}

/* nav list */
nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

nav li {
    position: relative;
    float: left;
}

nav .sep {
	content: '';
	width: 2em;
}

nav a {
    display: block;
	padding: 0 .75em;
    /*padding: .25em .75em;*/
    text-decoration: none;
}

nav li:first-child.flush a { padding-left: 0; }
nav li:last-child.flush a { padding-right: 0; }

nav a:not([href]) {
	color: #333;
	cursor: default;
	text-decoration: none;
}

nav li > ul {
    display: none;
    position: absolute;
	background-color: rgba(255,255,255,0.);
}

nav li:hover > ul {
    display: block;
}

nav li > ul li {
    width: 100%;
}

/* =============== GLOBALS ============================================= */

/* Colors - pallete taken from http://clrs.cc/ */

/* Cool */
.color-aqua { color: #7FDBFF; }
.color-blue { color: #0074D9; }
.color-navy { color: #001F3F; }
.color-teal { color: #39CCCC; }
.color-green { color: #2ECC40; }
.color-olive { color: #3D9970; }
.color-lime { color: #01FF70; }

/* Warm */
.color-yellow { color: #FFDC00; }
.color-orange { color: #FF851B; }
.color-red { color: #FF4136; }
.color-fuchsia { color: #F012BE; }
.color-purple { color: #B10DC9; }
.color-maroon { color: #85144B; }

/* Gray Scale */
.color-white { color: #fff; }
.color-silver { color: #ddd; }
.color-gray { color: #aaa; }
.color-black { color: #111; }

/* Cool */
.bg-aqua { background-color: #7FDBFF; }
.bg-blue { background-color: #0074D9; }
.bg-navy { background-color: #001F3F; }
.bg-teal { background-color: #39CCCC; }
.bg-green { background-color: #2ECC40; }
.bg-olive { background-color: #3D9970; }
.bg-lime { background-color: #01FF70; }

/* Warm */
.bg-yellow { background-color: #FFDC00; }
.bg-orange { background-color: #FF851B; }
.bg-red { background-color: #FF4136; }
.bg-fuchsia { background-color: #F012BE; }
.bg-purple { background-color: #B10DC9; }
.bg-maroon { background-color: #85144B; }

/* Gray Scale */
.bg-white { background-color: #fff; }
.bg-silver { background-color: #ddd; }
.bg-gray { background-color: #aaa; }
.bg-black { background-color: #111; }

/* Cool */
.alert.bg-aqua { background-color: #7FDBFF; }
.alert.bg-blue { background-color: #0074D9; }
.alert.bg-navy { background-color: #001F3F; }
.alert.bg-teal { background-color: #39CCCC; }
.alert.bg-green { background-color: #2ECC40; }
.alert.bg-olive { background-color: #3D9970; }
.alert.bg-lime { background-color: #01FF70; }

/* Warm */
.alert.bg-yellow { background-color: #FFDC00; }
.alert.bg-orange { background-color: #FF851B; }
.alert.bg-red { background-color: #FF4136; }
.alert.bg-fuchsia { background-color: #F012BE; }
.alert.bg-purple { background-color: #B10DC9; }
.alert.bg-maroon { background-color: #85144B; }

/* Gray Scale */
.alert.bg-white { background-color: #fff; }
.alert.bg-silver { background-color: #ddd; }
.alert.bg-gray { background-color: #aaa; }
.alert.bg-black { background-color: #111; }







/* Text positioning */

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-normal { font-weight: normal; }

.position-relative { position: relative; }

.full-width { width: 100%; }

.no-wrap { white-space: nowrap; }

/* Element position/spacing */
.inline { display: inline; }
.block { display: block; }
.inline-block { display: inline-block; }


.add-bot { margin-bottom: 1em; }
.add-bot-sm { margin-bottom: .5em; }

.add-bot-stacked,
.add-bot-sm-stacked { margin-bottom: 0; }


.text-pad { padding: .15em .4em; }

/*== GRID SYSTEM ==*/
.container {
	max-width: 960px; /* your width */
	margin: 0 auto;
	padding: 0 1em;
}

.row {
	width: 100%;
	clear: both;
}

.row.spaced {
	margin: 0 -8px;
	width: auto;
}

.col {
	width: 100%;
	float: left;
}

.row.spaced .col {
	padding: 0 8px;
}

.col.col-flip { float: right; }
.row.col-flip > .col { float: right; }

.col.span-1-2	{ width: 50%; }
.col.span-1-3	{ width: 33.333%; }
.col.span-1-4	{ width: 25%; }
.col.span-1-5	{ width: 20%; }
.col.span-1-6	{ width: 16.666%; }

.col.span-2-3	{ width: 66.666%; }
.col.span-2-5	{ width: 40%; }

.col.span-3-4	{ width: 75%; }
.col.span-3-5	{ width: 60%; }

.col.span-4-5	{ width: 80%; }

.col.span-5-6	{ width: 83.333%; }

.col.skip-1-2	{ margin-left: 50%; }
.col.skip-1-3	{ margin-left: 33.333%; }
.col.skip-1-4	{ margin-left: 25%; }
.col.skip-1-5	{ margin-left: 20%; }
.col.skip-1-6	{ margin-left: 16.666%; }

.col.skip-2-3	{ margin-left: 66.666%; }
.col.skip-2-5	{ margin-left: 40%; }

.col.skip-3-4	{ margin-left: 75%; }
.col.skip-3-5	{ margin-left: 60%; }

.col.skip-4-5	{ margin-left: 80%; }

.col.skip-5-6	{ margin-left: 83.333%; }

/*== HACKS ==*/
/* clearfix for floated children */
nav ul:before,
nav ul:after,
.cf:before,
.cf:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

nav ul:after,
.cf:after,
.row:after {
    clear: both;
}

nav ul,
.cf,
.row {
    *zoom: 1;
}

/*== MEDIA QUERIES ==*/
/* large */
@media only screen and (min-width: 1700px) {
	body { font-size: 160%; }
	
	.container { max-width: 1600px; }
}

/* normal */
@media only screen and (max-width: 1699px) and (min-width: 1300px)  { /* does it REALLY matter? */
	body { font-size: 120%; }
	
	.container { max-width: 1200px; }
}

/* small / tablet */
@media only screen and (max-width: 1299px) and (min-width: 481px)  {
	
}

/* all but phone */
@media only screen and (min-width: 481px) {

}

/* phone (stacked columns) */
@media only screen and (max-width: 480px) {
	body { font-size: 90%; }

	.col:not(.col-mobile) {
		float: none;
		width: 100%;
	}

	.col.skip-1-2,
	.col.skip-1-3,
	.col.skip-1-4,
	.col.skip-1-5,
	.col.skip-1-6,

	.col.skip-2-3,
	.col.skip-2-5,
	
	.col.skip-3-4,
	.col.skip-3-5,
	
	.col.skip-4-5,
	
	.col.skip-5-6 { margin-left: 0; }

	.add-bot-stacked { margin-bottom: 1em; }
	.add-bot-sm-stacked { margin-bottom: .5em; }

	.hideMobile { display: none; }

	.text-center-stacked { text-align: center; }
}